 
  .landingPage .slogan {
    text-align: center;
  }
  
  .landingPage .dataEvento {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    line-height: 3vh;
  }
  
  .landingPage img {
    width: 25vw;
}

.shortAbout {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .shortAbout__content {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    line-height: 5vh;
  }
  
  .shortAbout__content p {
    margin-top: 2em;
    color: #d8b476;
  }
  
  .shortAbout__content__presentation {
    min-height: 100vh;
    font-size: 1.1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
  }
  
  .shortAbout__content__letter {
    margin-top: 5vh;
    display: flex;
    flex-flow: column;
    background-color: #d8b476;
    padding: 2rem;
    border-radius: 0.5rem;
  }
  
  .shortAbout__content__letter p {
    color: #2e2e2e;
    text-align: justify;
  }
  
  .quoteAuthor {
    opacity: 70%;
  }
  .quoteDate {
    opacity: 70%;
  }
  
  .shortAbout__content__letter h3 {
    align-self: center;
    color: #2e2e2e;
    font-weight: 800;
  }